.hero_banner{
    position: absolute;
    width: 100%;
    height: 980px;
    left: 0px;
    top: 0px;
    background: linear-gradient(256.1deg, rgba(34, 175, 255, 0.53) -9.24%, #2744AC 97.75%);
    z-index: -1;
}

.round_button_angle{
    position: relative;
    width: 100px;
    height: 100px;
    background: #F4F9FF;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: transparent;
}

.banner_on_hero{
    position: relative;
    width: 100%;
    left: 0px;
    /* top: 798px; */
    background: linear-gradient(256.1deg, rgba(34, 189, 255, 0.18) -9.24%, #2744AC 97.75%);
    backdrop-filter: blur(64px);
    min-height: 182px;

}

.hero_desc{
    /* display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* height: 100%; */
    /* position: relative;
    top: 500px; */
    margin: 500px 60px;
}

.main_hero_text{
    position: absolute;
    max-width: 700px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 133%;
    text-transform: capitalize;
    color: #FFFFFF;
    min-width: 320px;
}

/* .hero_desc_inner{ */
    /* display: flex;
    margin: 0 300px;
    padding: 0 60px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; */
/* } */

.banner_on_hero_inner{
    display: flex;
    margin: 20px 30px;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.banner_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 300px;

}

.banner_text{
    color: #FFFFFF;
}

.banner_date{
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
}

.circular_read_ball{
    position: absolute;
    width: 184px;
    height: 184px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 980px){

    .round_button_angle{
        right: 30px;
    }

    .hero_desc{   
        margin: 300px 60px;
    }

}